.aboutPage{
  .aboutPageBck{
    position: absolute;
    width: 100%;
    height: calc(~"100% - 64px");
    top: 64px;
    left: 0;
    background-image: radial-gradient(circle, rgba(255,255,255,.2), #000);
    z-index: 1;
  }
  .aboutPageMain{
    margin-top: 30px;
    margin-bottom: 70px;
    z-index: 2;
    h2{
      font-weight: 700;
    }
    .title{
      font-size: 14px;
      font-weight: 700;
      color: #CE403F;
    }
  }
}
