.detailPage {
  .title {
    margin-top: 50px;
    text-align: center;
  }
  .message {
    margin: 20px 0;
    text-align: center;
    .messageItem + .messageItem {
      margin-left: 20px;
    }
  }
  .endBox {
    .divider {
      font-size: 14px;
      color: #b9b9b9;
    }
  }
  .tags {
    color: rgba(255, 255, 255, 0.65);
    &:hover {
      color: #0085a1;
    }
  }

  .txtContent {
    text-align: left;
    img {
      max-width: 100%;
    }
  }
}
