#root{
  height: 100%;
}
.footer{
  font-size: 16px;
  color: #b2b2b2;
  text-align: center;
}
.mainBox{
  min-height: calc(~"100vh - 150px");
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 1030px) {
  .mainBox{
    width: 800px;
  }
}
@media (min-width: 800px){
  .mainBox{
    width: 770px;
  }
}
